{%- liquid
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = product.featured_media
  assign is_available = product.selected_or_first_available_variant.available | default: false
  assign on_sale = false
  assign savings = 0
  if current_variant.compare_at_price and current_variant.price and current_variant.compare_at_price > current_variant.price
    assign on_sale = true
    assign savings = current_variant.compare_at_price | minus: current_variant.price
  endif
-%}

<div class="rec-product-card{% if is_available == false %} rec-product-card--soldout{% endif %}">
  <a href="{{ product.url }}" class="rec-product-card__link" {% unless is_available %}tabindex="-1" aria-disabled="true"{% endunless %}>
    <div class="rec-product-card__media">
      {% if featured_media %}
        {{ featured_media | image_url: width: 180 | image_tag:
          loading: 'lazy',
          width: 180,
          height: 180,
          class: 'rec-product-card__image',
          alt: featured_media.alt | escape
        }}
      {% else %}
        {{ 'product-1' | placeholder_svg_tag: 'rec-product-card__image rec-product-card__placeholder' }}
      {% endif %}
    </div>
    <div class="rec-product-card__content">
      {% if current_variant.sku != blank %}
        <div class="rec-product-card__sku">{{ current_variant.sku }}</div>
      {% endif %}
      <h3 class="rec-product-card__title">
        {{ product.title 
          | remove: ' - Reconditioned' 
          | remove: ' - reconditioned'
          | remove: ' - New Surplus' 
          | remove: ' - new surplus'
          | remove: ' - Used' 
          | remove: ' - used'
          | escape
        }}
      </h3>
      <div class="rec-product-card__price">
        <div class="rec-product-card__price-current{% if on_sale %} rec-product-card__price-sale{% endif %}">
          {{ current_variant.price | money }}
        </div>
        {% if on_sale %}
          <span class="rec-product-card__price-compare">
            {{ current_variant.compare_at_price | money }}
          </span>
          <span class="rec-product-card__price-savings">
            Save {{ savings | money_without_trailing_zeros }}
          </span>
        {% endif %}
      </div>
    </div>
  </a>
</div>
