<style>
  .card-product * {
    user-select: none;
  }
  .card-product {
    margin: auto;
    border-radius: 6px;
    width: 100%;
    height:550px;
    border: none;
    overflow: hidden;
    position: relative;
    transition: transform 0.15s ease-in-out;
    cursor: pointer;
  }

  .card-product:hover {
    box-shadow: 0 10px 15px var(-bg-primary);
    outline: 1px solid lightgray;
    transform: translateY(-5px);
  }

  .card-product-info {
    text-align: left;
    font-size: 12pt;
    padding: 10px;
    margin: 0;
    line-height: normal;
  }

  .card-product-image-container {
    height: 225px;
    width: 100%;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    padding: 5px;
    transition: filter .2s;
  }

  .card-product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .card-product:hover .card-product-image-container {
    filter: brightness(108%);
    z-index: 1;
    transition: filter .2s;
  }

  .btn-add-to-cart {
    color: #fff;
    border-radius: 0;
    width: 95%;
    transition: all 0.15s ease-in-out;
  }

  .btn-add-to-cart:hover {
    background-color: #0d6efd;
    transform: scale(1.05);
  }

  .badge-featured {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 5px 7px;
    font-size: 12px;
    z-index: 10;
  }

  .badge-save {
    translate: 0px -2px;
  }

  .product-details {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0.3rem 0;
    transition: color 0.15s ease-in-out;
  }

  .product-details[title]:hover {
    font-weight: bold;
  }

  .product-name {
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }

{% assign weight_in_pounds = product.selected_or_first_available_variant.weight_in_unit | times: 1 %}
  
</style>
<a href="{{ product.url }}">
  <div class="card shadow-sm card-product p-3 position-relative">
    {% assign prioritized_collections = "Sale,New Arrival,Featured,Best Seller" | split: "," %}
    {% assign collection_name = "" %}
    {% for collection in product.collections %}
      {% if prioritized_collections contains collection.title %}
        {% assign collection_name = collection.title %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if collection_name != blank %}
      <span class="badge bg-danger badge-featured">{{ collection_name }}</span>
    {% endif %}
    <div class="row g-0 h-100">
      <!-- Product Image -->
      <div class="col-md-5">
        <div class="card-product-image-container">
          <img class="card-product-image" src="{{ product.featured_image | image_url: width: 300 | image_tag: loading: 'lazy' }}">
        </div>
      </div>
      <!-- Product Info -->
      <div class="col-md card-product-info">
        <div>
          <h6 class="fw-bold mb-1 product-name">{{ product.selected_or_first_available_variant.sku }}</h6>
          <p class="text-muted small mb-1 product-details">{{ product.title }}</p>
          {% assign num_reviews = product.metafields.loox.num_reviews %}
          {% if num_reviews > 0 %}
              {% render 'product-rating-badge', product: product %}
          {% else %}
            ---
          {% endif %}
          <p class="text-muted small mb-1 product-details" title="Availability status">
            {% if product.selected_or_first_available_variant.available %}
              <i class="bi bi-check-circle text-success"></i> In Stock
            {% else %}
              <i class="bi bi-x-circle text-danger"></i> Out of Stock
            {% endif %}
          </p>
          <p class="text-muted small mb-1 product-details" title="Product condition"><i class="text-primary bi bi-nut"></i>
            {% if product.metafields.ges.product_condition != blank %}
              {{ product.metafields.ges.product_condition | remove: '"' | remove: '[' | remove: ']' }}
            {% else %}
              Reconditioned
            {% endif %}
          </p>
          <p class="text-muted small mb-1 product-details" title="Shipping method">
            <i class="text-primary bi bi-truck"></i>
            {% if weight_in_pounds > 130 %}
              Freight
            {% elsif weight_in_pounds <= 130 and weight_in_pounds > 0 %}
              Standard
            {% else %}
              View Shipping Details in Cart
            {% endif %}
          </p>
          <p class="text-muted small mb-2 product-details" title="Lead time">
            <i class="text-primary bi bi-clock"></i>
            {% if product.metafields.ges.customLeadTime == blank %}
              {% if product.metafields.mm-google-shopping.shipping != blank %}
                {{ product.metafields.mm-google-shopping.shipping }}
              {% else %}
                3 - 5 Business Days
              {% endif %}
            {% else %}
              {{ product.metafields.ges.customLeadTime }}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
    <h5 class="text-primary mb-0 fw-bolder product-price" style="padding-left: 10px; font-size: 20pt;">{{ product.price | money }}</h5>
    <p class="small mb-1 product-details" style="padding-bottom: 10px; padding-left: 10px;">
      <del class="text-danger text-decoration-line-through">{{ product.compare_at_price | money }}</del> 
      <span class="badge bg-success text-white fw-light py-2 px-3 badge-save">Save {{ product.compare_at_price | minus: product.price | money }}</span>
    </p>
    <!-- Add to Cart Button -->
    <button class="btn bg-primary btn-primary m-auto mb-2 mt-2 rounded btn-add-to-cart">
      <i class="bi bi-cart-fill"></i> Add to Cart
    </button>
  </div>
</a>
<!-- Add icons CDN for Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
