{% comment %}
  Renders a product card within a product list. Usually within a collection template or the Product list section

  Accepts:
  - product: {object} The product object - https://shopify.dev/docs/api/liquid/objects/product

  Usage:
  {% render 'product-card' product: product  %}
{% endcomment %}

<div class="row">
  <div class="col-12">
    <div class="card border-light p-4 mb-5 product-card {{ settings.product_card_text_align }}">
      <div class="row align-items-center">
        <!-- Product Image -->
        <div class="col-3">
          <a href="{{ product.url | within: collection }}" class="product-card-link">
            <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
          </a>
        </div>

        <!-- Product Details -->
        <div class="col">
          <!-- Product Title and Price -->
          <div class="d-flex mb-2 font-weight-bold">
            <a class="h5" href="{{ product.url | within: collection }}">{{ product.title }}</a>
            <span class="h5 ml-auto">
              {{ product.price | money }}
            </span>
          </div>

          <!-- Additional Product Information -->
          <ul class="pl-3">
            <li class="small">Transport: Free transport</li>
            <li class="small">Moneyback: 1 month</li>
            <li class="small">Warranty: 24 months</li>
          </ul>

          <!-- Quantity Selector and Remove Button -->
          <div class="d-flex align-items-center">
            <select class="custom-select w-auto">
              {% for i in (1..10) %}
                <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
            <div class="ml-auto">
              <a class="btn-link text-dark" href="#"><i class="far fa-trash-alt mr-2"></i>Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
