<div 
  class="product-price {{ block.settings.font_size }} {{ section.settings.pt }} {{ section.settings.pb }}"
  {{ block.shopify_attributes }}
>
  <p
    class="product__inventory no-js-hidden{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
    {{ block.shopify_attributes }}
    id="Inventory-{{ section.id }}"
    role="status"
  >
  
    {%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
      {%- assign inventory_quantity = product.selected_or_first_available_variant.inventory_quantity -%}
      {%- assign low_stock_threshold = section.settings.low_stock_threshold | default: 2 -%}

      {%- if inventory_quantity > low_stock_threshold -%}
        <i class="bi-circle-fill pulse-animation"></i>
        <span class="text-success">In Stock: {{ inventory_quantity }}</span>
      {%- elsif inventory_quantity > 0 -%}
        <i class="bi-circle-half" style="color: #ffb300;"></i>
        <span style="color: #c58a00;">Low Stock: {{ inventory_quantity }}</span>
      {%- else -%}
        <i class="bi-circle text-danger"></i>
        <span class="text-danger">Out of Stock</span>
      {%- endif -%}
    {%- endif -%}
  </p>
</div>

{{ form | payment_terms }}


<!-- Stock Indicator Pulse Animation -->
<style>
  @keyframes pulse {
    0% {
      color: var(--bs-success);
    }
    35% {
      color: #20c075;
    }
    100% {
      color: var(--bs-success);
    }
  }

  .pulse-animation {
    animation: pulse 4s infinite;
  }
</style>
