{% comment %}
  Renders a product card within a product list. Usually within a collection template or the Product list section

  Accepts:
  - product: {object} The product object - https://shopify.dev/docs/api/liquid/objects/product

  Usage:
  {% render 'product-card' product: product  %}
{% endcomment %}

<div class="product-card card border p-3" style="width: 18rem; height: 300px;">
  <div class="position-relative">
    <a href="{{ product.url | within: collection }}" class="product-card-link d-block">
      <div class="product-card-img-wrapper d-flex justify-content-center align-items-center overflow-hidden" style="height: 150px;">
        <img src="{{ product.featured_image | image_url: '300x300' }}" class="img-fluid" style="object-fit: cover;" width: 100%; height: 100%;">
        {% if product.compare_at_price > product.price %}
          <span class="product-sale-badge badge bg-danger position-absolute top-0 start-0 m-2">
            {% if settings.product_card_badge_discount_type == 'percentage' %} 
              {{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round | prepend: '-' | append: '%' }}
            {% else %}
              {{ 'product.save' | t }} {{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}
            {% endif %}
          </span>
        {% endif %}
      </div>
    </a>
  </div>
  <div class="card-body d-flex flex-column justify-content-between" style="height: 150px;">
    <h3 class="card-title product-title {{ settings.product_card_title_font_size }} text-truncate" style="max-height: 3rem; overflow: hidden;">
      {{ product.title }}
    </h3>
    <div class="product-price mb-2">
      {% render 'product-card-price', product: product %}
    </div>
    {% if settings.product_card_show_atc_form %}
      <form class="product-card-atc-form mt-auto d-flex justify-content-center" action="/cart/add" method="post">
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        <button type="submit" class="btn btn-primary">
          Add to Cart
        </button>
      </form>
    {% endif %}
  </div>
</div>
