{% comment %}
  Renders a product card within a product list. Usually within a collection template or the Product list section

  Accepts:
  - product: {object} The product object - https://shopify.dev/docs/api/liquid/objects/product

  Usage:
  {% render 'product-card' product: product  %}
{% endcomment %}

<div class="product-card card border p-3" style="width: 250px; height: 500px; display: flex; flex-direction: column;">
  <div class="position-relative" style="flex-grow: 1;">
    <a href="{{ product.url | within: collection }}" class="product-card-link d-block">
      <div class="product-card-img-wrapper d-flex justify-content-center align-items-center overflow-hidden p-4" style="height: 200px; width: 100%;">
        <img src="{{ product.featured_image | image_url: width: auto, height: auto }}" class="img-fluid product-image">
        {% if product.compare_at_price > product.price %}
          <span class="product-sale-badge badge bg-primary position-absolute top-0 start-0 m-4 bigger-badge">
            {% if settings.product_card_badge_discount_type == 'percentage' %} 
              {{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | round | prepend: '-' | append: '%' }}
            {% else %}
              {{ 'product.save' | t }} {{ product.compare_at_price | minus: product.price | money_without_trailing_zeros }}
            {% endif %}
          </span>
        {% endif %}
        {% if product.available == false %}
          <span class="product-sold-out-badge badge bg-secondary position-absolute top-50 start-50 translate-middle">
            {{ 'product.sold_out' | t }}
          </span>
        {% endif %}
      </div>
    <h2 class="product-title p-4 {{ settings.product_card_title_font_size }}">
      {{ product.title }}
    </h2>
    </a>
  </div>
  <div class="product-info p-4">
    <div class="product-price my-2">
      <h2 class="current-price my-auto">{{ product.price | money }}</h2>
      {% if product.compare_at_price > product.price %}
      <h2 class="original-price p-4 my-auto">{{ product.compare_at_price | money }}</h2>
      {% endif %}
    </div>
    {% if settings.product_card_show_atc_form %}
      <form class="product-card-atc-form d-grid gap-1 mt-auto" action="/cart/add" method="post" {% if product.available == false %}disabled{% endif %}>
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" {% if product.available == false %}disabled{% endif %}>
        <button type="submit" class="btn btn-primary btn-lg" {% if product.available == false %}disabled{% endif %}>
          Add to Cart
        </button>
      </form>
    {% endif %}
  </div>
</div>

<style>
  .product-card {
    display: flex;
    flex-direction: column;
  }
  .product-card .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-card .product-card-img-wrapper {
    height: 200px;
    width: 100%;
  }
  .product-card .product-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .bigger-badge {
    font-size: .9rem;
    padding: 0.4rem .75rem;
  }
  .product-card .product-price {
    display: flex;
    justify-content: left;
    align-content: center;
  }
  .product-card .current-price {
    font-size: 1.35rem;
    font-weight: bold;
  }
  .product-card .original-price {
    font-size: 1rem;
    text-decoration: line-through;
    color: #888;
  }
  .product-card.sold-out {
    opacity: 0.6;
  }
  .product-sold-out-badge {
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #ff0000;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }
  .product-card-atc-form.disabled {
    pointer-events: none;
  }
</style>
