{% liquid 
  assign pt = block.settings.pt | prepend: 'pt-'
  assign pb = block.settings.pb | prepend: 'pb-'
%}

{% liquid
  assign vendor = product.vendor
  assign vendor_collection = collections[vendor]
  assign variant = product.selected_or_first_available_variant
  assign sku = variant.sku
  assign upc = variant.barcode
%}
<div class="product-details" style="font-size: 1rem;">
  <span class="product-details__item">
    {% if vendor_collection and vendor_collection.products_count != blank and vendor_collection.products_count > 0 %}
      <a href="{{ vendor_collection.url }}">{{ vendor }}</a>
    {% else %}
      {{ vendor }}
    {% endif %}
  </span> 
  {% if sku != blank %}
    <span class="product-details__item"><span style="font-size: 1.1rem;"> |</span> {{ sku }}</span>
  {% endif %}
  {% if upc != blank %}
    <span class="product-details__item"><span style="font-size: 1.1rem;"> |</span> {{ upc }}</span>
  {% endif %}
</div>
<h1 class="product-title title mb-0 {{ block.settings.title_font_size }} {{ pt }} {{ pb }}" {{ block.shopify_attributes }} style="font-weight: 600;">
  {{ product.title }}
</h1>