{% comment %} Placeholder: Product Variant Picker Snippet {% endcomment %}
<div class="product-snippet-variant-picker my-3">
  {%- unless product.has_only_default_variant -%}
    <variant-radios class="variant-picker no-js-hidden" data-section="{{ section_id }}" data-url="{{ product.url }}">
      {%- for option in product.options_with_values -%}
        <fieldset class="js product-form__input mb-3">
          <legend class="form__label h6">{{ option.name }}: <span class="text-muted">{{ option.selected_value }}</span></legend>
          {%- if block.settings.picker_type == 'radio' -%}
            {%- for value in option.values -%}
              <input type="radio"
                     id="{{ section_id }}-{{ option.position }}-{{ forloop.index0 }}"
                     name="{{ option.name }}"
                     value="{{ value | escape }}"
                     form="{{ form_id }}"
                     {% if option.selected_value == value %}checked{% endif %}
              >
              <label for="{{ section_id }}-{{ option.position }}-{{ forloop.index0 }}" class="btn btn-outline-secondary btn-sm me-1 mb-1">
                {{ value }}
              </label>
            {%- endfor -%}
          {%- else -%}
            <select id="Option-{{ section_id }}-{{ forloop.index }}" class="form-select form-select-sm"
                    name="options[{{ option.name | escape }}]"
                    form="{{ form_id }}"
            >
              {% for value in option.values %}
                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                  {{ value }}
                </option>
              {% endfor %}
            </select>
          {%- endif -%}
        </fieldset>
      {%- endfor -%}
      <script type="application/json">
        {{ product.variants | json }}
      </script>
    </variant-radios>
  {%- endunless -%}
</div>
