<div 
  class="product-price {{ block.settings.font_size }} {{ pt }} {{ pb }}"
  {{ block.shopify_attributes }}>

  <p
class="product__inventory no-js-hidden{% if product.selected_or_first_available_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}"
{{ block.shopify_attributes }}
id="Inventory-{{ section.id }}"
role="status"
>
{%- if product.selected_or_first_available_variant.inventory_management == 'shopify' -%}
  {%- if product.selected_or_first_available_variant.inventory_quantity > 0 -%}
    <svg width="15" height="15" aria-hidden="true">
      <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(40, 167, 69, 0.3)"/>
      <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(40, 167, 69)"/>
    </svg>
     <span class="text-success">In Stock: {{ product.selected_or_first_available_variant.inventory_quantity }}</span>
  {%- else -%}
    {%- if product.selected_or_first_available_variant.inventory_policy == 'continue' -%}
      <svg width="15" height="15" aria-hidden="true">
        <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(40, 167, 69)"/>
        <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(62,214,96)"/>
      </svg>
      {{- 'products.product.inventory_out_of_stock_continue_selling' -}}
    {%- else -%}
      <svg width="15" height="15" aria-hidden="true">
        <circle cx="7.5" cy="7.5" r="7.5" fill="rgb(220, 53, 69, 0.3)"/>
        <circle cx="7.5" cy="7.5" r="5" stroke="rgb(255, 255, 255)" stroke-width="1" fill="rgb(220, 53, 69)"/>
      </svg>
       <span class="text-danger">Out of Stock</span>
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
</p>
</div>

{{ form | payment_terms }}